<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom">  <h4> <%= @artist.full_name %></h4></div>
    <div class="panel-body">

      <p>
        <% @artist.songs.each do |song| %>
            <h4>title: <%= song.title %> <%= link_to "Delete", artist_song_path(@artist, song), :method => :delete %></h4>
            <h4>release year: <%= song.release_year %></h4>
            <hr>
          <%end%>
      </p>

      <div class="panel panel-primary add-song">
        <div class="panel-heading"> Add song</div>
          <div class="panel-body">
            <%= render 'songs/form' %>
          </div>
      </div>


      <p><%= link_to "Back to all Artists", artists_path, class: "btn btn-default" %></p>
      <p><%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure? Note: All songs belonging to artist will be destroyed."}, class: "btn btn-default" %></p>

    </div>
  </div>
</div>
